*{
    margin: 0;
    border: 0;
    list-style: none;

}
/* 首页头部css */
.header{
    width: 100%;
    height: 100px;
    background: yellowgreen;
}
/* 首页头部标题 */
.headerH{
    width: 67px;
}

#time{
    position: absolute;
    top: 0px;
    left: 119px;
    font-size: 40px;
}
/* 倒计时样式 */
#countDown{
    position: absolute;
    top: 45px;
    left: 119px;
    font-size: 40px;
}